<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Poultry System</title>
</head>
<body>
	<section>
		<div class="eggsales" id="eggsales">
			<form method="post" [formGroup]="formdata" (ngSubmit)="mortality(formdata.value)">
				<div class="form-group">
					<label>Number of Deaths</label>
					<input type="number" name="numberofdeaths" formControlName="numberofdeaths" placeholder="Enter No Of Deaths" required>
				</div>
				<div class="form-group">
					<label>Date</label>
					<input type="date" name="date" formControlName="date" required>
				</div>
				<button>Save</button>
			</form>
		</div>
		<div class="eggsales-update" id="eggsales-update">
			<form method="post">
				<div class="form-group">
					<label>Number of Deaths</label>
					<input type="number" name="numberofdeaths" [(ngModel)]="updatedata.numberofdeaths" placeholder="Enter No Of Deaths" required>
				</div>
				<div class="form-group">
					<label>Date</label>
					<input type="date" name="date" [(ngModel)]="updatedata.date" required>
				</div>
				<button (click)="Updateeggsales()">Save</button>
			</form>
		</div>
		<div class="filter-form">
			<form method="post" [formGroup]="searchdata" (ngSubmit)="searchmoratality(searchdata.value)">
				<div class="form-group">
					<label>From Date</label>
					<input type="date" name="fromdate" formControlName="fromdate" required>
				</div>
				<div class="form-group">
					<label>To Date</label>
					<input type="date" name="todate" formControlName="todate" required>
				</div>
				<button>Filter</button>
			</form>
		</div>
		<div class="eggsales-table">
			<button class="allrows" (click)="AllRows()">All Rows</button>
			<table>
				<thead>
					<tr>
						<th>Sl No</th>
						<th>Number of Deaths</th>
						<th>Date</th>
						<th>Action</th>
					</tr>
				</thead>
				<tbody>
					<tr *ngIf="row">{{row}}</tr>
					<tr *ngFor="let mort of Mortality">
						<td>{{mort.sl}}</td>
						<td>{{mort.NumberofDeaths}}</td>
						<td>{{mort.Date|date:'shortDate'}}</td>
						<td><button class="edit"><a routerLink="/navbar/Mortality/{{mort.sl}}"><i class="fas fa-edit"></i></a></button><button class="delete"><a routerLink="/navbar/Mortalitydelete/{{mort.sl}}"><i class="fas fa-trash"></i></a></button></td>
					</tr>
				</tbody>
			</table>
		</div>
	</section>
</body>
</html>