<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Poultry Management System</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">
</head>
<body>
	<section>
		<div class="header">
			<img src="../assets/hen.png">
			<h2>Famous</h2>
			<p>Poultry Form</p>
		</div>
		<div class="login-form">
			<p>Login As Admin</p>
			<form method="post" [formGroup]="formdata" (ngSubmit)="login(formdata.value)">
				<div class="form-group">
					<i class="fas fa-user"></i>
					<input type="text" name="username" formControlName="username" placeholder="Enter Username of Id">
				</div>
				<div class="form-group">
					<i class="fas fa-key"></i>
					<input type="password" name="password" formControlName="password" placeholder="Enter Password">
				</div>
				<button>Login</button>
			</form>
		</div>
	</section>
</body>
</html>